body {
    background-color:black;
    font-family:'Courier New', Courier, monospace;
    overflow:auto;
    text-align: justify;
    color:white;
    max-width:100%;
    overflow-x:hidden;
}
h1 {
    font-family: "Lucida Handwriting", cursive;
    color:white;
    text-align: center;
}
h1.pageTitle {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
}
p, h2, h3, h4, h5 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.longtext {
    width: 80%;
    margin: auto;
    text-align: justify;
}

.coachDesc {
    width: 90%;
    height:fit-content;
    padding: 10px;
    text-align: justify;
    transition-duration: 1s;
    overflow: auto;
    margin:auto;
    font-size: xx-small;
}
.certifications {
    text-align: center;
}
nav li {
    display: inline;
    text-decoration: none;
    }
    nav a {
    text-decoration: none;
    }

div.navbar {
	position:sticky; 
	top: 0; 
	overflow: hidden;
	background-color:black;
	height: fit-content;
	max-width:100%;
    float: none;
    border-bottom: 5px solid #1aa89c;
}

div.selectTest {
    align-items: center;
    justify-content: center;
    text-align:center;
    gap:10px;
    display:flex;
    flex-wrap: wrap;
}

button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.8s;
    cursor: pointer;
    height:max-content;
}

button.button1 {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.8s;
    cursor: pointer;
    width: 16.667%;
    float: left;
    word-wrap: break-word;
    white-space: normal;
    }

button.button1:hover {
background-color: #1aa89c;
color: black;
}

button.button2 {
background-color: grey;
color: black;
height: 150px;
width: 30vw;
max-width:100%;
border: 15px solid #008CBA;
padding: 25px;
margin: 10px;
font-family:fantasy;
word-wrap: break-word;
font-size: 3vw;
}

button.button2:hover {
background-color: #008CBA;
color: white;
}

button.button3 {
background-color: salmon;
color: black;
border: 5px solid burlywood;
}

button.button3:hover {
background-color: burlywood;
color: purple;
}

img.headerPhoto {
    max-height:auto;
    max-width:100%;
    height:auto;
    width:100%;
    object-fit: cover;
    display:flex;
}
img.footerPhoto {
    max-height:auto;
    max-width:100%;
    height:auto;
    width:100%;
    object-fit: cover;
    display:flex;
}
img.profilePic {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    height: 30vw;
    width: 30vw;
    overflow:hidden;
    object-fit:cover;
    object-position: center top;
    border: 2px solid white;
}
.footerContainer {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20%;
  }
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: black;
    }

a.inLineLink {
    text-decoration: none;
    font-weight:bold;
    color:white;
}
a.inLineLink:visited {
    text-decoration:none;
}
a.inLineLink:hover {
    text-decoration: underline;
}
a.inLineLink:active {
    text-decoration: underline;;
}

div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
  }

div.scroll-container img {
    padding: 0px;
    }

div.coaches {
    max-width: 100%;
    width: 100%;
    float: left;
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}
div.coach {
    width: 30%;
}
div.ambassadors {
    max-width: 100%;
    width: 100%;
    float: left;
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}
div.ambassador {
    width: 23%;
}

div.doctor {
    margin:30px;
    display:flex;
    float:left;
    justify-content:center;
}